<% provide(:title, "Giriş Yap") %>
<br><br><br>
<h1>Giriş Yap</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :tcNo %>
      <%= f.text_field :tcNo, class: 'form-control' %>

      <%= f.label :passwd, "Şifre" %>
      <%= f.password_field :password, class: 'form-control'%>
     
     <p> <%= f.submit "Giriş Yap", class: "btn btn-primary" %></p>
    <% end %>

    <p>Kaydınız yok mu? <%= link_to "Kaydol!", signup_path %></p>
  </div>
</div>
