<% provide(:title, 'Sign up') %>
<h1>Admin Kayit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@admin) do |f| %>
      
      <%= render 'shared/admin_error_messages' %>

      <%= f.label "İsim" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label "E-Posta" %>
      <%= f.email_field :email , class: 'form-control'%>

      <%= f.label "Şifre" %>
      <%= f.password_field :password, :placeholder =>"Minimum 6 karakter",
                           class: 'form-control'%>
      
      <%= f.label "Şifre Doğrulama" %>
      <%= f.password_field :password_confirmation, class: 'form-control'%>
 
      <p> <%= f.submit "Administrator oluştur", class: "btn btn-success" %></p>

    <% end %>
  </div>
</div>

