<h1>Admin Panel</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Bagiscilar</h4></div>
  <!-- Table -->
  <div class="table-responsive">
  <table id="myTable"class="display responsive" width ="100%">
    <thead>
      <tr>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Yer</td>
        <td>Kan Grubu</td>
        <td>Son Bağış</td>
        <td>Kan Türü</td>
        <td>Act.1</td>
        <td>Act.2</td>
      </tr>
    </thead>
    <% Donor.all.each do |donor| %>
      <tr>
        <td><%= donor.name %></td>
        <td><%= donor.lastname %></td>
        <td><%= donor.location %></td>
        <td><%= donor.bloodGroup %></td>
        <td><%= donor.donateTime %></td>
        <td><%= donor.bloodType %></td>
        <td><a href="/donors/<%= donor.id %>">Göster</a></td>
        <td><a href="/donors/<%= donor.id %>/edit">Düzenle</a></td>
      </tr>
    <% end %>
  </table></table>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>

