<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@donor) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :isim %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :soyisim %>
      <%= f.text_field :lastname , class: 'form-control'%>
   
      <%= f.label :tel %>
      <%= f.text_field :tel , class: 'form-control'%>

      <%= f.label :TCNo %>
      <%= f.text_field :tcNo , class: 'form-control'%>

      <%= f.label :KanGrubu %>
      <%= f.text_field :bloodGroup , class: 'form-control'%>

      <%= f.label :KanTürü %>
      <%= f.text_field :bloodType , class: 'form-control'%>

      <%= f.label :Yer %>
      <%= f.text_field :location , class: 'form-control'%>

     <%= f.label :BagisZamani %>
      <%= f.text_field :donateTime , class: 'form-control'%>


      <%= f.submit "Create a donor account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

