<p>
<strong> İsim:</strong>
<%= @donor.name %>
</p>
<p>
<strong> Soyisim:</strong>
<%= @donor.lastname %>
</p>
<p>
<strong> Kan Grubu:</strong>
<%= @donor.bloodGroup %>
</p>
<p>
<strong> Yer:</strong>
<%= @donor.location %>
</p>
<p>
<strong> Kan Türü:</strong>
<%= @donor.bloodType %>
</p>
<p>
<strong> Telefon Numarası:</strong>
<%= @donor.tel %>
</p>
<p>
<strong> TC Kimlik Numarası:</strong>
<%= @donor.tcNo %>
</p>
<p>
<strong> Kan Verme Tarihi:</strong>
<%= @donor.donateTime %>
</p>

<% if admin_logged_in? %>
<nav>
  <ul class="pager">
    <li><a href="/donors/<%= p (@donor.id - 1) unless @donor.id == 1 %>">Onceki</a></li>
    <li><a href="/donors/<%= p (@donor.id + 1) if @donor.id < Donor.count  %>">Sonraki</a></li>
  </ul>
</nav>
<% end %>

<% if logged_in? %>
  <% unless @current_donor.donateTime > 3.months.ago %>
   <%= flash.now[:notice] = "3 ay doldu." %>
  <% end %>
<% end %>
