<p>
<strong> İsim:</strong>
<%= @donor.name %>
</p>
<p>
<strong> Soyisim:</strong>
<%= @donor.lastname %>
</p>
<p>
<strong> Kan Grubu:</strong>
<%= @donor.bloodGroup %>
</p>
<p>
<strong> Yer:</strong>
<%= @donor.location %>
</p>
<p>
<strong> Kan Türü:</strong>
<%= @donor.bloodType %>
</p>
<p>
<strong> Telefon Numarası:</strong>
<%= @donor.tel %>
</p>
<p>
<strong> TC Kimlik Numarası:</strong>
<%= @donor.tcNo %>
</p>
<p>
<strong> Kan Verme Tarihi:</strong>
<%= @donor.donateTime %>
</p>
