<%= form_for(@bagisci) do |f| %>
  <% if @bagisci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bagisci.errors.count, "error") %> prohibited this bagisci from being saved:</h2>

      <ul>
      <% @bagisci.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :tcno %><br />
    <%= f.number_field :tcno %>
  </div>
  <div class="field">
    <%= f.label :kanGrubu %><br />
    <%= f.text_field :kanGrubu %>
  </div>
  <div class="field">
    <%= f.label :bagiszaman %><br />
    <%= f.datetime_select :bagiszaman %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
